label.form-label {
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table th {
    font-size: 1rem;
    font-weight: bold;
}

.table th, .table td {
    min-width: 120px;
    white-space: nowrap;
    word-break: break-word;
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 0.95rem;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
}

.btn {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
}

.btn-custom-pink {
    background-color: #E27AB0;
    color: white;
    border: none;
}

    .btn-custom-pink:hover {
        background-color: #d66da3;
        color: white;
    }

.input-group-text {
    background-color: white;
    border-color: #ced4da;
}

/* Estilos para los inputs con símbolos a la izquierda y derecha */
.input-symbol-left {
    color: #495057;
    font-size: 1rem;
    margin-right: 0.5em;
    position: static;
}

.result-symbol {
    display: inline-flex;
    align-items: center;
    min-height: 38px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.form-result {
    background: transparent;
    border: none;
    min-width: 2.5em;
    text-align: right;
    font-size: 1rem;
    margin-right: 0.25em;
    margin-left: 0.25em;
    padding: 0;
    line-height: 38px;
    font-weight: 500;
    color: #495057;
}

.input-symbol-right {
    color: #495057;
    font-size: 1rem;
    margin-left: 0.25em;
    margin-right: 0.25em;
    position: static;
}