@model List<Proyecto_CreandoRecuerdos.Models.ActividadModel>
@using Newtonsoft.Json

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Fecha/Hora</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Tabla</th>

                </tr>
            </thead>
            <tbody class="table-light">
                @foreach (var actividad in Model)
                {
                    <tr>
                        <td>@actividad.FechaHora.ToString("g")</td>
                        <td>@actividad.NombreUsuario</td>
                        <td>@actividad.TipoAccion</td>
                        <td>@actividad.TablaAfectada</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="alert alert-info">
        No se encontraron actividades con los filtros seleccionados.
    </div>
}

@section Scripts {
    <script src="~/Templates/js/footer_visibility_content_zoom_out.js"></script>
}