<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--light-pink);">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="assets/logo.png" alt="Logo" class="logo-navbar">
      <span style="font-family: 'Sono', sans-serif;">Creando Recuerdos</span>
    </a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-uppercase" href="index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="materiasprimas.html">Materias Primas</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="menu.html">Menú</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="pedidos.html">Pedidos</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="registrousuarios.html">Registro Usuarios</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="registroventas.html">Registro Ventas</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="reportes.html">Reportes</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="registro.html">Registro</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" href="empleados.html">Empleados</a></li>
      </ul>
    </div>
  </div>
</nav>
